---
layout: default
---

<div class="jumbotron">
  <a href="https://rvca.ca"><img src="{{ site.baseurl }}/img/categories/RVCA_logo_transparent.png" alt="" style="width:180px"></a>
  <h1>{{ site.greeting }}</h1>
  <p>
    <i>{{ site.description }}</i>
  </p>
  <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/datasets" role="button">START BROWSING</a></p>
</div>
<br>
<div class="homepage-categories">
  <center>
{% for category in site.data.categories %}
  {% if category.featured == true %}
    {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
    <a href="{{ site.baseurl }}/datasets/?category={{ category.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
      {% if category.logo and category.logo != empty %}
        <img src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">
      {% endif %}
      <h3><strong>{{ category.name }}</strong></h3>
    </a>
  {% endif %}
{% endfor %}
  </center>
</div>
