---
title: Organizations
layout: default
permalink: /organizations/
---
{% include breadcrumbs.html %}

<a href="{{ site.baseurl }}/add-organization/" class="btn btn-default pull-right admin-only" data-hook="add-organization-btn"><i class="fa fa-plus"></i> Add Organization</a>

{% for organization in site.organizations %}
  {% assign dataset_count = site.datasets | where:"organization", organization.title | size %}
  <div class="media">
    <div class="media-left">
      {% if organization.logo and organization.logo != empty %}
        <a href="{{ site.baseurl }}{{ organization.url }}">
          <img class="media-object" src="{{ organization.logo }}" alt="{{ organization.title }}" style="width:100px">
        </a>
      {% endif %}
    </div>
    <div class="media-body">
      <h2 class="media-heading"><a href="{{ site.baseurl }}{{ organization.url }}">{{ organization.title }}</a></h2>
      <p><a href="{{ site.baseurl }}/datasets/?organization={{ organization.title | slugify }}"><h4><strong>{{ dataset_count }} dataset(s) available...</strong></h4></a></p>
      <p><h4>{{ organization.description }}</h4></p>
    </div>
  </div>
{% endfor %}
