<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>

<footer style="background-color:white;"><hr><center><a href="https://rvca.ca">rvca.ca</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://gis.rvca.ca">gis.rvca.ca</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://rvcagis.maps.arcgis.com">rvca.arcgis.com</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://watersheds.rvca.ca">watersheds.rvca.ca</a><br>&nbsp;</center></footer>
